@model Controllers.Dtos.Borrowers.BorrowerDto
@{
    ViewData["Title"] = "View";
}

<div class="form-group">
    <label asp-for="@Model.Name"></label>
    <input asp-for="@Model.Name" class="form-control" readonly/>
    <span asp-validation-for="@Model.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="@Model.Email"></label>
    <input asp-for="@Model.Email" class="form-control" readonly/>
    <span asp-validation-for="@Model.Email" class="text-danger"></span>
</div>

<a id="NewExampleButton" name="CreateExample" asp-action="Update" asp-route-Id="@Model.Id" class="mx-1 btn btn-primary btn-sm" type="submit" data-busy-text="Đang xử lý...">
    <i class="fa fa-plus"></i> 
    <span>Edit</span>
</a>
<a id="NewExampleButton" name="CreateExample" asp-action="Index" class="mx-1 btn btn-primary btn-sm" type="button" data-busy-text="Đang xử lý...">
    <i class="fa fa-plus"></i> 
    <span>Cancel</span>
</a>